<ul>
    <li
      [appHighlight]="quote.upVote === mostLikedQuote.upVote" 
      *ngFor='let quote of quotes'>
        <p class="writer">@{{quote.writer}}</p>

        <p class="date">{{quote.publicationDate}}</p>

        <p *ngIf="quote.visible"  >"{{quote.text}}"</p>

        <p *ngIf="quote.visible" class="auth"> ~{{quote.author}}</p>

        <img (click)="likeCounter(quote)" *ngIf="quote.visible" class="vote" src="../assets/thumbs-up-outline.svg" alt="">
    
        <span *ngIf="quote.visible">{{quote.upVote}}</span>

        <img (click)="dislikeCounter(quote)" *ngIf="quote.visible" class="vote" src="../assets/thumbs-down-outline.svg" alt="">

        <span  *ngIf="quote.visible" >{{quote.downVote}}

        </span>

          <!-- <p  *ngIf="showOrHide">The number of days since publication:{{quote.publicationDate|daysCounter}} days</p> -->
        
          <br>
          <br>
        <button (click)="quote.visible=!quote.visible" 
          class="btn btn-info"> Hide/Show
        </button>

        <button 
          class="btn btn-danger">Delete
        </button>
  </li>

</ul>
