<app-navigation></app-navigation>

<app-profile></app-profile>

<div class="content">

    <header>
        <h1>QuotePad</h1>
        <img class="social" src="../assets/logo-linkedin.svg" alt="">
        <img class="social" src="../assets/logo-facebook.svg" alt="">
        <img class="social" src="../assets/logo-twitter.svg" alt="">
        <img class="social" src="../assets/logo-instagram.svg" alt="">
        <img class="social" src="../assets/share-social-outline.svg" alt="">
    </header>
     <br>

     <app-display-quote></app-display-quote>
</div>