<div class="profile">
    <button type="button" class="btn btn-info">Get Started</button>
    
    <a href="">Sign In</a>
     <br>
     <br>

    <div class="input-group">

        <input type="text" class="form-control" placeholder="Search" name="search">

    </div>
    <br> 
    <br>
    
    <img src="../assets/profile4.jpeg" alt="User Image">
    
    <p class="userName">The @rt Coder</p>
    
    <p>1.6k Followers</p>
    
    <p>Android Developer| UI/UX Designer| Frontend Developer</p>
    
    <button class="btn btn-info">Follow</button>
    
    <ul>
        <li>Help</li>

        <li>Status</li>

        <li>Writers</li>

        <li>Blog</li>

        <li>Careers</li>

        <li>Privacy</li>

        <li>Terms</li>

        <li>About</li>

        <li>Knowable</li>
    </ul>

</div>
