<div class="navigate">

  <img class="logo" src="../assets/quota.png" alt="favIcon">
  <br>
  <br>

  <img class="nav" src="../assets/home-outline.svg" alt="Home">
  <!-- <p class="detail-hide detail-display">Home</p> -->
  <br>
  <br>

  <img class="nav" src="../assets/bookmarks-outline.svg" alt="Notification">
  <br>
  <br>

  <img class="nav" src="../assets/list-outline.svg" alt="Lists">
  <br>
  <br>

  <img class="nav" src="../assets/newspaper-outline.svg" alt="Stories">
  <br>
  <br>

  <img class="nav" src="../assets/settings-outline.svg" alt="Write"> <br>
  <br>

  <p class="copyright"> &copy; Copyright 2022</p>
  
</div>
